<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>The No-Name Game</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="javascripts/phaser.js"></script>
	<%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<header>
			<div id="title"></div>
		</header>
		<div class="container">
            <div class="userInfo">
                <% if current_user %>
				    <%= image_tag current_user.image, class: "img-circle", width: 24 %> 
				    <div class="email"><%= current_user.email %><div>
				    Signed in as <strong><%= current_user.name %></strong>!
				    <%= link_to "Sign out", signout_path, id: "sign_out" %>
            </div>
			<% end %>
			<%= yield %>
		</div>
		<% if current_user %>
			<section class="content"></section>
			<%= yield %>
		<% else %>
			<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
		<% end %>
		
		<footer>
			<h4>Copyright <%=Date.today.year %> TheNoNameGame</h4>
		</footer>
	</div>
</body>
<% if current_user %>
	<script src="javascripts/game.js" data-turbolinks-track="false"></script>
<% end %>
</html>
